html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mobile-content {
  display: none;
}

.desktop-content {
  display: initial;
}

.wrapper {
  width: 100vw;
}

.topvav {
  display: block;
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  margin-top: 20px;
}

ul li {
  display: inline;
}

.topnav a {
  padding: 14px 15px;
  text-decoration: none;
  font-size: 15pt;
  font-family: "Niconne", cursive;
  color: rgb(231, 211, 250);
  margin: 15px;
  background: rgb(54, 52, 52);
  border-radius: 10px;
}

.topnav a:hover {
  color: white;
  background: rgb(94, 63, 122);
}

.topnav a.active {
  background-color: rgb(94, 63, 122);
  color: white;
}

.overlay-img {
  width: 100%;
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://res.cloudinary.com/karenify/image/upload/q_70/v1584994447/samples/My-images/hivj7pksywsqu7xdneve.jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.overlay-img a {
  text-decoration: none;
  font-size: 75pt;
  color: rgb(221, 191, 250);
  font-family: "Niconne", cursive;
}

.aboutus {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.aboutus h3 {
  display: inherit;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  font-size: 28pt;
  font-family: "Niconne", cursive;
  padding: 1rem;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, rgb(210, 170, 248), rgba(0, 0, 0, 0))
    1 100%;
}

.describe {
  display: flex;
  justify-content: center;
  align-items: center;
}

.describe p {
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 22pt;
  font-family: "Niconne", cursive;
  background: -webkit-linear-gradient(rgb(80, 47, 109), #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.description h2 {
  display: inherit;
  justify-content: center;
  align-items: center;
  font-size: 28pt;
  font-family: "Niconne", cursive;
  padding: 1rem;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, rgb(210, 170, 248), rgba(0, 0, 0, 0))
    1 100%;
}

.scroll {
  display: flex;
  justify-content: center;
}

.box-border-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
}

.collection-item {
  display: grid;
  padding-left: 10%;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "collection-item-image collection-item-paragraph";
}

.collection-item-image {
  grid-area: collection-item-image;
  max-width: 400px;
  max-height: 250px;
  margin: 1.8em;
}

.collection-item-image img {
  max-width: inherit;
  border-radius: 5px;
}

.collection-item-paragraph {
  grid-area: collection-item-paragraph;
  padding-left: 6%;
}

.collection-item-paragraph h4 {
  font-size: 25pt;
  color: rgb(94, 63, 122);
  font-family: "Niconne", cursive;
}

.collection-item-paragraph p {
  background: -webkit-linear-gradient(rgb(80, 47, 109), #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 15pt;
  font-family: "Niconne", cursive;
}

.collection-item-paragraph h5 {
  font-size: 18pt;
  color: rgb(114, 83, 141);
}

span {
  color: rgb(85, 47, 119);
}

.btn {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

button {
  padding: 13px;
  border-radius: 10px;
  width: 340px;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 20pt;
  font-family: "Niconne", cursive;
  border: none;
  outline: navajowhite;
  background: rgb(94, 63, 122);
  color: white;
}

button:hover {
  background: rgb(90, 52, 122);
  color: white;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.contact h3 {
  display: inherit;
  justify-content: center;
  align-items: center;
  font-size: 28pt;
  font-family: "Niconne", cursive;
  padding: 1rem;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, rgb(210, 170, 248), rgba(0, 0, 0, 0))
    1 100%;
}

.contactus {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  text-decoration: none;
  margin: 35px;
  color: rgb(94, 63, 122);
}

.border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 430px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://res.cloudinary.com/karenify/image/upload/q_70/v1584994445/samples/My-images/guscygkc5cn9m0duxkxz.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 15px;
}

.border-box p {
  font-size: 25pt;
  color: white;
  font-family: "Niconne", cursive;
}

:placeholder-shown {
  color: purple;
}

::-webkit-input-placeholder {
  color: purple;
}

::-moz-placeholder {
  color: purple;
}

::-ms-input-placeholder {
  color: purple;
}

label {
  color: white;
  font-size: 18pt;
  font-family: "Niconne", cursive;
}

input[type="text"] {
  font-size: 14pt;
  font-family: "Niconne", cursive;
  color: rgb(94, 63, 122);
  width: 300px;
  height: 30px;
}

input[type="email"] {
  font-size: 14pt;
  width: 300px;
  height: 30px;
  font-family: "Niconne", cursive;
  color: rgb(94, 63, 122);
}

input[type="submit"] {
  cursor: pointer;
  border-radius: 6px;
  border: none;
  background: rgb(94, 63, 122);
  font-size: 16pt;
  padding: 12px;
  color: white;
  width: 95px;
  font-family: "Niconne", cursive;
}

footer {
  text-align: center;
  margin-top: 50px;
  background: white;
  font-size: 23px;
  color: rgb(94, 63, 122);
  padding: 25px;
  font-family: "Niconne", cursive;
  position: initial;
}

@media (max-width: 425px) {
  * {
    font-family: "Niconne", cursive;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .mobile-content {
    display: initial;
  }

  .desktop-content {
    display: none;
  }

  .mobile-container {
    width: 100%;
    margin: 0;
  }

 .overlay-img2 {
  width: 100%;
  height: 300px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://res.cloudinary.com/karenify/image/upload/q_70/v1584994447/samples/My-images/hivj7pksywsqu7xdneve.jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-img2 a {
  text-decoration: none;
  font-size: 28pt;
  color: rgb(221, 191, 250);
}

.aboutus {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.aboutus h3 {
  display: inherit;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  font-size: 28pt;
  padding: 1rem;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, rgb(210, 170, 248), rgba(0, 0, 0, 0))
    1 100%;
}

.describe1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.describe1 p {
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 18pt;
  padding-left: 14px;
  background: -webkit-linear-gradient(rgb(80, 47, 109), #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

 .button_container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
}

.button_container:hover {
  opacity: 0.7;
}

.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: rgb(221, 191, 250);
}

.button_container.active .middle {
  opacity: 0;
  background: rgb(221, 191, 250);
}

.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: rgb(221, 191, 250);
}

.button_container span {
  background: rgb(221, 191, 250);
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}

.button_container span:nth-of-type(2) {
  top: 11px;
}

.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: rgb(54, 52, 52);
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
}

.overlay.open {
  opacity: 0.9;
  visibility: visible;
  height: 100%;
}

.overlay.open li {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}

.overlay.open li:nth-of-type(2) {
  animation-delay: 0.4s;
}

.overlay.open li:nth-of-type(3) {
  animation-delay: 0.45s;
}

.overlay.open li:nth-of-type(4) {
  animation-delay: 0.5s;
}

.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30pt;
  text-align: center;
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}

.overlay ul li a {
  display: block;
  position: relative;
  color: rgb(221, 191, 250);
  text-decoration: none;
  overflow: hidden;
}

.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
  width: 100%;
}

.overlay ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: rgb(221, 191, 250);
  transition: 0.35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.description1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description1 p {
  margin-left: 7px;
  margin-right: 7px;
}

.description1 h2 {
  display: inherit;
  justify-content: center;
  align-items: center;
  font-size: 28pt;
  padding: 1rem;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, rgb(210, 170, 248), rgba(0, 0, 0, 0))
    1 100%;
}

.collection-section1 {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.collection-items {
  border: 1px solid rgb(236, 234, 234);
  border-radius: 3px;
  margin-bottom: 10px;
  height: 450px;
}

.collection-items-img {
  display: flex;
  justify-content: center;
  align-content: center;
}

img {
  width: 100%;
  height: 135px;
  border-radius: 3px;
}

.collection-items-description h3 {
  font-size: 18pt;
  color: rgb(188, 154, 219);
  margin-left: 6px;
}

.collection-items-description h4 {
  font-size: 18pt;
  color: rgb(188, 154, 219);
  margin-left: 6px;
}

.collection-items-description p {
  font-size: 15pt;
  color: rgb(188, 154, 219);
  margin-left: 6px;
}

.btn2 {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

button {
  padding: 10px;
  border-radius: 10px;
  width: 280px;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 20pt;
  border: none;
  outline: navajowhite;
  background: rgb(94, 63, 122);
  color: white;
}

button:hover {
  background: rgb(90, 52, 122);
  color: white;
}

