* {
  font-family: "Dosis", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.mobile-container {
  background-color: #fff;
  width: 90%;
  margin: 0;
}

.topnav {
  overflow: hidden;
  background-color: #fff;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: #9f041b;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  display: block;
}

.topnav a.icon {
  background: white;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

#myLinks a {
  font-size: 15px;
  color: #ad2035;
}

#myLinks a:hover {
  color: white;
  background-color: #cf6d7c;
}

h2 {
  text-align: center;
  font-size: 15px;
  color: #ad2035;
}

img {
  display: block;
  margin: auto;
  width: 220px;
  height: 250px;
}

p {
  text-align: center;
  font-size: 18px;
  color: #ad2035;
}

.interio-buttons {
  display: block;
  margin-top: 30px;
}

.button1 {
  padding: 12px;
  background-color: #9f041b;
  color: white;
  font-size: 13px;
  border: none;
  width: 130px;
  border-radius: 8px;
}

.button2 {
  border: 1px solid #9f041b;
  color: #9f041b;
  padding: 11px;
  width: 100px;
  background-color: white;
  font-size: 13px;
  border-radius: 8px;
}

footer {
  padding: 25px;
  background-color: #fff;
  text-align: center;
  margin-top: 25px;
}
