* {
  font-family: "Special Elite", cursive;
}

body {
  margin: 0;
  height: 0;
}

.wrapper {
  background-color: #ace571;
  background-image: linear-gradient(#dcf1c5, #c9eea2, #f8f2d5);
  height: 90vh;
}

.Monkey-image {
  display: flex;
  justify-content: center;
}

img {
  width: 250px;
  height: 280px;
  margin-top: 50px;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: #50312a;
  margin-top: 40px;
  margin-bottom: 20px;
}

p {
  display: flex;
  justify-content: center;
  color: #a39767;
  font-size: 19px;
  margin-top: 35px;
}

.monkey-button {
  display: flex;
  justify-content: center;
  align-content: center;
}

button {
  margin-top: 35px;
  padding: 10px;
  border-radius: 15px;
  width: 180px;
  border: none;
  background-color: #c1e797;
  color: rgb(30, 131, 30);
  font-size: 18px;
}

@media and (max-width: 425px) {
  * {
    font-family: "Special Elite", cursive;
  }

  body {
    margin: 0;
    height: 0;
  }

  .wrapper {
    background-color: #ace571;
    background-image: linear-gradient(#dcf1c5, #c9eea2, #f8f2d5);
    height: 90vh;
  }

  .Monkey-image {
    display: flex;
    justify-content: center;
  }

  img {
    width: 250px;
    height: 280px;
    margin-top: 50px;
  }

  h1 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #50312a;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  p {
    display: flex;
    justify-content: center;
    color: #a39767;
    font-size: 19px;
    margin-top: 35px;
  }

  .monkey-button {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  button {
    margin-top: 35px;
    padding: 10px;
    border-radius: 15px;
    width: 180px;
    border: none;
    background-color: #c1e797;
    color: rgb(30, 131, 30);
    font-size: 18px;
  }
}
