* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

.list-item-card {
  background: white;
  border: 1px solid lightgrey;
  box-shadow: 0 5px 12px 0 rgb(201, 200, 200);
  height: 180px;
  width: 750px;
  display: grid;
  margin-bottom: 1px;
  grid-template-areas: "image description button";
}

ul li:last-child {
  border-radius: 0 0 20px 20px;
}

ul li:first-child {
  border-radius: 20px;
  transform: scale(1.05);
}

.container {
  padding: 100px;
  display: flex;
  justify-content: center;
}

img {
  width: 120px;
  grid-area: image;
  align-self: center;
  justify-self: center;
}

.description {
  grid-area: description;
  align-self: center;
}

h1 {
  font-size: 20pt;
  color: rgb(92, 90, 90);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-size: 15pt;
  color: rgb(92, 90, 90);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button {
  grid-area: button;
  width: 80%;
  height: 35%;
  border: none;
  border-radius: 5px;
  background: orangered;
  color: white;
  font-size: 15pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-self: center;
}
