* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

.list-item-card {
  background: white;
  border: 1px solid lightgrey;
  box-shadow: 0 5px 12px 0 rgb(201, 200, 200);
  height: 180px;
  width: 750px;
  display: grid;
  margin-bottom: 1px;
  padding: 20px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "image description button";
}

ul li:last-child {
  border-radius: 0 0 20px 20px;
}

ul li:first-child {
  border-radius: 20px;
  transform: scale(1.05);
}

.container {
  padding: 100px;
  display: flex;
  justify-content: center;
}

img {
  width: 120px;
  grid-area: image;
  align-self: center;
  justify-self: center;
}

.description {
  grid-area: description;
  align-self: center;
}

h5 {
  font-size: 10pt;
  color: orangered;
  font-family: "Crimson Text", serif;
}

h1 {
  font-size: 18pt;
  color: rgb(92, 90, 90);
  font-family: "Crimson Text", serif;
}

p {
  font-size: 12pt;
  color: rgb(92, 90, 90);
  font-family: "Crimson Text", serif;
}

.button {
  grid-area: button;
  width: 78%;
  height: 30%;
  border: none;
  border-radius: 5px;
  background: orangered;
  font-family: "Crimson Text", serif;
  color: white;
  font-size: 12pt;
  align-self: flex-end;
  margin-bottom: 15px;
}
